* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-slider {
  height: 450px;
  margin: 100px auto 0;
  box-shadow: 0px 0px 10px -5px #808080;
  width: 90%;
  position: relative;
}
.slider {
  height: inherit;
  width: initial;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  margin-top: -80px;
}
.wrapper-slider > input {
  display: none;
}
.slides {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 50px;
}

  .slide-text-block{
    width: 100%;
    height: auto;
  }

.slide-first {
  background-image: url(images/emp1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-second {
  background-image: url(images/emp2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide-third {
  background-image: url(images/emp3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide-four {
  background-image: url(images/emp4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slides__text {
  display: block;
  font-size: 18px;
  margin-top: 180px;
  width: 308px;
  text-align: center;
  margin-left: -80px;
  padding: 0 10px;
  line-height: 1.6;
}
.slides__text__cite {
  display: block;
  text-align: center;
  margin-top: 35px;
  color: gray;
  font-size: 20px;
}
.controls {
  text-align: center;
}
.label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border: 50%;
}
.label::after {
  border: 2px solid #ddd;
  content: "";
  display: block;

  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  border-radius: 50%;
}
.label:hover,
#slide-first:checked ~ .controls label:nth-of-type(1),
#slide-second:checked ~ .controls label:nth-of-type(2),
#slide-third:checked ~ .controls label:nth-of-type(3),
#slide-four:checked ~ .controls label:nth-of-type(4) {
  background: gray;
  border-radius: 50%;
}
.slides {
  height: 150px;
  opacity: 0;
  position: absolute;
  width: 150px;
  z-index: 0;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

#slide-first:checked ~ .slider > .slide-first,
#slide-second:checked ~ .slider > .slide-second,
#slide-third:checked ~ .slider > .slide-third,
#slide-four:checked ~ .slider > .slide-four {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}
